Repository theklausklausen/cert-manager-webhook-ipv64: changes, and which GitLab CI jobs are due for each by the changed paths.
All: markdown lint, yaml lint, helm lint, test build image, render helm chart, run_test_suite, build image, package image, package helm, deploy helm

.gitlab-ci.yml:

---
.only_on_code_change: &only_on_code_change
  only:
    changes:
      - '**/*.go'
      - '**/*.mod'
      - '**/*.sum'
      - '**/Dockefile'

.only_on_helm_change: &only_on_helm_change
  only:
    changes:
      - '**/deploy/**/*'

.only_on_markdown_change: &only_on_markdown_change
  only:
    changes:
      - '**/*.md'

.only_on_yaml_change: &only_on_yaml_change
  only:
    changes:
      - '**/*.yml'
      - '**/*.yaml'

include:
  - project: 'klausklausen/templates'
    ref: main
    file: 'test.yml'
  - project: 'klausklausen/templates'
    ref: main
    file: 'deploy.yml'
  - project: 'klausklausen/templates'
    ref: main
    file: 'build.yml'
  - project: 'klausklausen/templates'
    ref: main
    file: 'package.yml'
  - project: 'klausklausen/templates'
    ref: main
    file: 'deploy.yml'
  - project: 'klausklausen/templates'
    ref: main
    file: 'lint.yml'
  - project: 'klausklausen/templates'
    ref: main
    file: 'security.yml'

variables:
  TAG: $CI_COMMIT_BRANCH
  GO_IMAGE: golang:1.23

stages:
  - security
  - lint
  - test
  - build
  - package
  - deploy

# lint helm:
#   extends: .lint_helm_chart

# yaml lint:
#   extends: .lint_yaml

# go-lint:
#   stage: test
#   image: golangci/golangci-lint:v1.62.2
#   script:
#     - golangci-lint run -v
#   allow_failure: true


# prettier:
#   extends: .lint_prettier

# go-test:
#   stage: test
#   image: $GO_IMAGE
#   script:
#     - go test -v ./...

# lint
markdown lint:
  extends: .markdown_lint
  <<: *only_on_markdown_change
yaml lint:
  extends: .yaml_lint
  <<: *only_on_yaml_change
prettier lint:
  extends: .prettier
helm lint:
  extends: .helm_lint
  variables:
    HELM_CHART_DIR: deploy
  <<: *only_on_helm_change

# test
test build image:
  extends: .build_test
  variables:
    IMAGE_NAME: ${NEXUS_REPO_HOST}/${CI_PROJECT_NAME}
    IMAGE_TAG: ${CI_COMMIT_SHORT_SHA}
    BUILD_TARGET: prod
  <<: *only_on_code_change
render helm chart:
  extends: .render_helm_chart
  variables:
    HELM_CHART_DIR: deploy
  <<: *only_on_helm_change
run_test_suite:
  stage: test
  image: golang:1.23
  script:
    - TEST_ZONE_NAME=example.com make test
  <<: *only_on_code_change

# security
package scan:
  extends: .package_scan
  allow_failure: false
secret scan:
  extends: .secret_scan
  allow_failure: false

# build
build image:
  extends: .image_multi_arch
  variables:
    IMAGE_NAME: ${NEXUS_REPO_HOST}/${CI_PROJECT_NAME}
    IMAGE_TAG: ${CI_COMMIT_SHORT_SHA}
    BUILD_TARGET: prod
  <<: *only_on_code_change

# package
package image:
  extends: .image_tag
  variables:
    IMAGE_NAME: ${NEXUS_REPO_HOST}/${CI_PROJECT_NAME}
  tags:
    - amd64
  <<: *only_on_code_change
package helm:
  extends: .package_helm_chart
  variables:
    HELM_CHART_DIR: deploy
    PACKAGE_NAME: cert-manager-webhook-ipv64
  <<: *only_on_helm_change

# deploy
deploy helm:
  extends: .deploy_helm_chart
  variables:
    HELM_CHART_DIR: deploy
    PACKAGE_NAME: cert-manager-webhook-ipv64
  <<: *only_on_helm_change

Update README files to remove outdated links and improve Helm installation instructions
  README.default.md
  README.md
Due: markdown lint

Update Helm artifact packaging workflow to filter checkout for specific deploy directory
  .github/workflows/package_helm_artifact.yml
Due: yaml lint

Add Helm installation step to packaging workflow and update .gitignore
  .github/workflows/package_helm_artifact.yml
  .gitignore
Due: yaml lint

Remove workspace.env and .gitmodules from .gitignore
  .gitignore
Due: none

Remove shared-configuration submodule and associated entries
  .gitmodules
Due: none

Update Helm chart directory references from 'deploy' to 'charts'
  .github/workflows/package_helm_artifact.yml
  .gitlab-ci.yml
  Makefile
  charts/cert-manager-webhook-ipv64/.helmignore
  charts/cert-manager-webhook-ipv64/Chart.yaml
  charts/cert-manager-webhook-ipv64/templates/NOTES.txt
  charts/cert-manager-webhook-ipv64/templates/_helpers.tpl
  charts/cert-manager-webhook-ipv64/templates/apiservice.yaml
  charts/cert-manager-webhook-ipv64/templates/deployment.yaml
  charts/cert-manager-webhook-ipv64/templates/pki.yaml
  charts/cert-manager-webhook-ipv64/templates/rbac.yaml
  charts/cert-manager-webhook-ipv64/templates/service.yaml
  charts/cert-manager-webhook-ipv64/values.yaml
Due: yaml lint

Update CI configuration to trigger jobs on changes in the 'charts' directory
  .gitlab-ci.yml
Due: yaml lint

Update actions/checkout action to v4
  .github/workflows/create_container_image.yml
  .github/workflows/package_helm_artifact.yml
Due: yaml lint

Update azure/setup-helm action to v4
  .github/workflows/package_helm_artifact.yml
Due: yaml lint

Update docker/build-push-action action to v6
  .github/workflows/create_container_image.yml
Due: yaml lint

Remove commented-out linting jobs from CI configuration
  .gitlab-ci.yml
  testdata/my-custom-solver/config.json
Due: yaml lint

Add go-lint job to CI configuration for code change detection
  .gitlab-ci.yml
Due: yaml lint

Add VERSION environment variable and refactor DNS record types in ipv64 package
  Dockerfile
  internal/ipv64/ipv64.go
  main.go
Due: test build image, run_test_suite, build image, package image

Update .gitignore, Makefile targets, and shared configuration subproject reference
  .gitignore
  Makefile
Due: none

Update README.md to specify image repository for cert-manager webhook
  README.md
Due: markdown lint

Add publish stage to CI for Docker image deployment to GitHub
  .gitlab-ci.yml
Due: yaml lint

Refactor .gitlab-ci.yml to comment out lint, test, security, build, and package stages for clarity
  .gitlab-ci.yml
Due: yaml lint

Uncomment package helm stage in .gitlab-ci.yml for deployment configuration
  .gitlab-ci.yml
Due: yaml lint

Refactor CI configuration to use password-stdin for Docker login commands
  .gitlab-ci.yml
Due: yaml lint

Refactor CI workflows for Helm chart packaging and deployment
  .github/workflows/package_helm_artifact.yml
  .gitlab-ci.yml
Due: yaml lint

Refactor GitHub Actions workflow to package Helm chart artifact
  .github/workflows/package_helm_artifact.yml
Due: yaml lint

Update module k8s.io/klog to v2
  go.mod
  go.sum
Due: test build image, run_test_suite, build image, package image

Update docker/setup-buildx-action action to v3
  .github/workflows/create_container_image.yml
Due: yaml lint

Update HELM_CHART_DIR for cert-manager webhook in CI configuration
  .gitlab-ci.yml
Due: yaml lint

Edit renovate.json
  renovate.json
Due: none

Add tmp.yml to .gitignore
  .gitignore
Due: none

Refactor DeleteDNSRecord to simplify response handling for deletion status
  internal/ipv64/ipv64.go
Due: test build image, run_test_suite, build image, package image

Update helm/chart-releaser-action action to v1.7.0
  .github/workflows/package_helm_artifact.yml
Due: yaml lint

Rename workflow to Release Charts and update steps for chart release process
  .github/workflows/create_container_image.yml
Due: yaml lint

Update index.yaml
  index.yaml
Due: yaml lint

Update README.md to clarify command translation for Helm installation
  README.md
Due: markdown lint

Update actions/checkout action
  .github/workflows/create_container_image.yml
  .github/workflows/package_helm_artifact.yml
Due: yaml lint

Update alpine Docker tag to v3.23
  Dockerfile
Due: none

Update golang Docker tag to v1.26
  .gitlab-ci.yml
Due: yaml lint

Update docker/login-action action to v3.7.0
  .github/workflows/create_container_image.yml
Due: yaml lint

Add security job templates and restructure security stage in CI configuration
  .gitlab-ci.yml
Due: yaml lint

Add .gitignore to exclude all files except itself in CI local directory
  .gitlab-ci-local/.gitignore
Due: none

Refactor Makefile test target to use envtest and update go.mod dependencies
  Makefile
  go.mod
  go.sum
Due: test build image, run_test_suite, build image, package image

Allow container scan to fail in CI pipeline
  .gitlab-ci.yml
Due: yaml lint
