Repository theklausklausen/cert-manager-webhook-ipv64: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build image, package image, package helm, deploy helm

build image:
  variables:
    IMAGE_NAME: ${NEXUS_REPO_HOST}/${CI_PROJECT_NAME}
    IMAGE_TAG: ${CI_COMMIT_SHORT_SHA}
    BUILD_TARGET: prod

package image:
  variables:
    IMAGE_NAME: ${NEXUS_REPO_HOST}/${CI_PROJECT_NAME}
  tags:
  - amd64

package helm:
  variables:
    HELM_CHART_DIR: deploy
    PACKAGE_NAME: cert-manager-webhook-ipv64

deploy helm:
  variables:
    HELM_CHART_DIR: deploy
    PACKAGE_NAME: cert-manager-webhook-ipv64

Add version logging and improve startup messages in main.go
  main.go
Due: build image, package image

Improve logging in AddDNSRecord function to include response body and handle read errors
  internal/ipv64/ipv64.go
Due: build image, package image

Refactor logging in AddDNSRecord function for improved readability of response details
  internal/ipv64/ipv64.go
Due: build image, package image

Improve logging in AddDNSRecord function to include encoded URL for better traceability
  internal/ipv64/ipv64.go
Due: build image, package image

Refactor parameter handling in AddDNSRecord and DeleteDNSRecord functions for improved readability
  internal/ipv64/ipv64.go
Due: build image, package image

Refactor AddDNSRecord and DeleteDNSRecord to use bytes.Buffer for request body construction and improve logging of response details
  internal/ipv64/ipv64.go
Due: build image, package image

Refactor AddDNSRecord and DeleteDNSRecord to use bytes.Buffer for string writing
  internal/ipv64/ipv64.go
Due: build image, package image

Refactor AddDNSRecord and DeleteDNSRecord to use url.Values for parameter handling and simplify request body construction
  internal/ipv64/ipv64.go
Due: build image, package image

Refactor AddDNSRecord and DeleteDNSRecord to use url.Values.Set for parameter handling
  internal/ipv64/ipv64.go
Due: build image, package image

Improve logging of parameters in AddDNSRecord function
  internal/ipv64/ipv64.go
Due: build image, package image

Enhance error logging in AddDNSRecord and DeleteDNSRecord for unexpected status codes
  internal/ipv64/ipv64.go
Due: build image, package image

Add response handling and JSON unmarshalling in AddDNSRecord function
  internal/ipv64/ipv64.go
Due: build image, package image

Add DeleteRecordResponse struct and enhance logging in DeleteDNSRecord function
  internal/ipv64/ipv64.go
Due: build image, package image

Enhance error logging in AddDNSRecord and DeleteDNSRecord to include full response details
  internal/ipv64/ipv64.go
  main.go
Due: build image, package image

Update DNS record handling to use resolved FQDN prefix in Present and CleanUp functions
  main.go
Due: build image, package image

Refactor logging in AddDNSRecord and DeleteDNSRecord to include record type in messages
  internal/ipv64/ipv64.go
Due: build image, package image

Add GitHub deployment configuration for container images
  .gitlab-ci.yml
Due: none

Add GitHub Actions workflow for Docker image build and push
  .github/workflows/docker-build.yml
  .gitlab-ci.yml
Due: none

Initial commit
  .gitignore
  .gitlab-ci.yml
  .vscode/settings.json
  Dockerfile
  LICENSE
  Makefile
  OWNERS
  README.default.md
  README.md
  deploy/cert-manager-webhook-ipv64/.helmignore
  deploy/cert-manager-webhook-ipv64/Chart.yaml
  deploy/cert-manager-webhook-ipv64/templates/NOTES.txt
  deploy/cert-manager-webhook-ipv64/templates/_helpers.tpl
  deploy/cert-manager-webhook-ipv64/templates/apiservice.yaml
  deploy/cert-manager-webhook-ipv64/templates/deployment.yaml
  deploy/cert-manager-webhook-ipv64/templates/pki.yaml
  deploy/cert-manager-webhook-ipv64/templates/rbac.yaml
  deploy/cert-manager-webhook-ipv64/templates/service.yaml
  deploy/cert-manager-webhook-ipv64/values.yaml
  go.mod
  go.sum
  internal/ipv64/ipv64.go
  main.go
  main_test.go
  renovate.json
  testdata/my-custom-solver/README.md
  testdata/my-custom-solver/config.json
Due: build image, package image, package helm, deploy helm

Add GitHub Actions workflow for building and deploying Docker image; update README and values.yaml
  .github/workflows/create_container_image.yml
  README.md
  deploy/cert-manager-webhook-ipv64/values.yaml
Due: package helm, deploy helm

Update README to correct base64 encoding and add ToDos section
  README.md
Due: none

Update GitHub Actions workflow and README for container image tagging and installation instructions
  .github/workflows/create_container_image.yml
  .github/workflows/deploy_helm.yml
  README.md
Due: none

Refactor CI/CD workflows and clean up logging in DNS provider
  .github/workflows/create_container_image.yml
  .github/workflows/deploy_helm.yml
  .gitlab-ci.yml
  internal/ipv64/ipv64.go
  main.go
Due: build image, package image

Update container image workflow to use GitHub Container Registry
  .github/workflows/create_container_image.yml
Due: none

Add GitHub Actions workflow to package and push Helm chart to Artifact Hub
  .github/workflows/package_helm_artifact.yml
Due: none

Fix DNS record addition to handle HTTP 201 status code
  internal/ipv64/ipv64.go
Due: build image, package image

Fix logging format for DNS record addition and deletion
  internal/ipv64/ipv64.go
Due: build image, package image

Add Sentry DSN configuration and initialization for error tracking
  deploy/cert-manager-webhook-ipv64/templates/deployment.yaml
  deploy/cert-manager-webhook-ipv64/values.yaml
  go.mod
  go.sum
  main.go
Due: build image, package image, package helm, deploy helm

Add linting stages and shared configuration submodule to CI pipeline
  .gitlab-ci.yml
  .gitmodules
Due: none

Add additional configuration files for deployment and linting in CI pipeline
  .gitlab-ci.yml
Due: none

Add HELM_CHART_DIR variable to helm lint stage in CI pipeline
  .gitlab-ci.yml
Due: none

Add security configuration file to CI pipeline and update linting stage extensions
  .gitlab-ci.yml
Due: none

Add allow_failure flag to security scans and enhance Makefile with test and go mod tidy commands
  .gitlab-ci.yml
  Makefile
  go.mod
  go.sum
Due: build image, package image

Enhance CI pipeline with conditional linting for markdown and YAML files, and improve logging messages for DNS record operations
  .gitlab-ci.yml
  internal/ipv64/ipv64.go
Due: build image, package image

Update CI pipeline to allow failure for secret scans and modify DNS record prefix in main.go
  .gitlab-ci.yml
  main.go
Due: build image, package image

Refactor Helm chart packaging workflow to use Chart Releaser and configure Git user details
  .github/workflows/package_helm_artifact.yml
Due: none

Disable submodule checkout in GitHub workflows for container image and Helm artifact packaging
  .github/workflows/create_container_image.yml
  .github/workflows/package_helm_artifact.yml
Due: none

Remove path filter for deploy directory in Helm artifact packaging workflow
  .github/workflows/package_helm_artifact.yml
Due: none

Update Chart Releaser action to version 1.6.0 in Helm artifact packaging workflow
  .github/workflows/package_helm_artifact.yml
Due: none

Update CI pipeline to allow failure for package scans and enforce success for secret scans
  .gitlab-ci.yml
Due: none

Path conditions:
  build image: any of: **/*.go, **/*.mod, **/*.sum, **/Dockefile
  package image: any of: **/*.go, **/*.mod, **/*.sum, **/Dockefile
  package helm: any of: **/deploy/**/*
  deploy helm: any of: **/deploy/**/*
